[Desktop Entry]
Encoding=UTF-8
Name=gAVR
Comment=Serial programmer for Atmel AVR microcontrollers
Comment[pl]=Szeregowy programator dla mikrokontrolerów AVR Atmela
Exec=gavr
Terminal=false
Type=Application
Categories=GTK;Utility;Electronics;
# vi: encoding=utf-8
